.LandingHero {
  width: 100%;
  height: 710px;
  position: relative;
  display: flex;
  flex-direction: column;

  &_bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -0;
  }
  &_content {
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 0 2rem;
    &_title {
      font-weight: 400;
      font-size: 3.125rem;
      margin-bottom: 1.5rem;
    }
    &_subtitle {
      font-size: 1.625rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
  }
}
