.Question{
    width: 75vw;
    margin-bottom: .7rem;
    .box{
        background-color: #303030;     
        padding: 1em 2.2em 1em 1.2em;  
        color: white;
        font-size: 1.3rem;
        font-weight: 300;
    }
    &_tittle{
        display: flex;
        justify-content: space-between;        
        align-items: center;
        cursor: pointer;
       
        &-text{           
            font-weight: 300;
        }
    }
    &_answer{
        margin-top: 1px;
        &-text{
            font-weight: 300;
        }
    }
}