.LandingHeader{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    padding: 16px 55px;
    &_logo{
        width: 150px;
        height: 45px;
        object-fit: cover;
    }
    &_button{
        height: fit-content;
        border-radius: 6px;
        padding: 8px 14px;
        background-color: #e52c12;
        
        &:hover{
            cursor: pointer;
        }
        p{
            color: white;
            font-size: 14px;
            font-weight: 300;
        }
    }
}